.is-toast {
    position: fixed;
    bottom: $size-medium;
    left: $size-medium;
    border-radius: 6px;
    font-size: 1.25em;
    z-index: 2;
    @extend .p-xlarge;

    &_info {
        background: white;
        color: black;
    }

    &_success {
        color: white;
        @extend .bg-success;
    }

    &_error {
        color: white;
        @extend .bg-error;
    }
}
